body {
    font-family: "Darker Grotesque", 'Poppins', 'Iconsolata', 'Epilogue';
    margin: 0;
    background: white;
    
}

.containerHome {
    display: flex;
    flex-direction: column;
    
}
.containerHome_footer_span {
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: white;
}



