/* Home.css */

body {
    font-family: "Darker Grotesque", 'Poppins', 'Iconsolata', 'Epilogue';
    margin: 0;
    background: white;
}

.containerHome {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

.containerHome_span {
    display: flex;
    justify-content: center;
    font-family: "Epilogue";
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 3rem;
    color: #000000;
}

.headerHome {
    background: linear-gradient(to right, #000000, #2e2e2e);
    padding: 0.8rem;
}

.topHeader {
    display: flex;
    justify-content: space-between;
}

.Logo {
    width: 6rem;
}

.linksHeader {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;

}

.iconesContainer div {
    cursor: pointer;
}

.linksDiv {
    display: flex;
    padding: 30px;
    gap: 3rem;
}

.tituloHome {
    color: #7A7A7A;
    font-family: "Epilogue";
    font-size: 3.6rem;
    font-weight: 140;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.tituloHome_span {
    color: #FF6624;
}

.containerTodosPerfis {
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    flex-wrap: wrap;
}

.containerPerfil {
    display: flex;
    flex-direction: column;
    background-color: #F7F6F6;
    border-radius: 2.5rem;
    max-width: 20.5rem;
}

.containerPerfil_fotoUser {
    padding: 1.2rem;
    max-height: 20.5rem;
    border-radius: 3rem;
}

.containerPerfil_div {
    margin: 0 3rem 1.5rem;
    display: flex;
    flex-direction: column;
}
.containerPerfil_div_span1{
    font-size: 1.2rem;
}
.containerPerfil_div_span2{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.containerPerfil_div p {
    margin: 0;
}

.containerPerfil_div_h4 {
    margin: 0;
    font-size: 1.4rem;
}

.containerPerfil_div_p{
    font-size: 1.1rem;
    padding: 1rem 0 ;
}
.starIcon{
    color: #FF6624;
}

