.select-tipo{
    border-radius: 0.8rem;
    border: 0.13rem solid #f0eeeee0;
    background-color: white;
    padding: 1rem;
    font-weight: 400;
    max-width: 62rem;
    font-size: 1.2rem;
}
.span{
    font-size: 1.2rem;
}

.div-select-tipo{
    display: flex;
    flex-direction: column;
    margin:0 0 1rem;
}
