.iconesContainer{ 
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 20px;
    color: white;
    padding-bottom: 2rem;
    padding-top: 2rem;
    
}

.icone{
    width: 30px;
    display: flex;
}

.iconeDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spanIcone{
    font-weight: 100;
    color: rgba(255, 255, 255, 0.63);
}