.divH1 {
    font-weight: 700;
    text-decoration: underline;
    font-size: 2.5rem;
    margin: 3rem 10rem 1rem;
}

.divContainer {
    display: flex;
    margin: 0 10rem;
}

.divMain {
    width: 60%;
}

.divAside {
    width: 40%;
}

.divMain_InformacoesGerais {
    display: flex;
    flex-direction: column;

    margin: 0 9rem;
    width: 30rem;
    background-color: #F6F7F7;
    border-radius: 2rem;
}

.divMain_InformacoesGerais_span {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 1rem 2rem 0;
}

.divMain_InformacoesGerais_div {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    font-weight: 600;
    color: rgb(70, 70, 70);
    margin: 1rem;
}

.divMain_InformacoesGerais_div_span {
    background-color: #EEEEEF;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.divMain_InformacoesPessoais {
    margin: 3rem 9rem 0;
    padding: 2rem;
    border: 0.13rem solid #ecebebe0;
    border-radius: 2rem;
}
.informacoesPessoais_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    background-color: #f7f5f5b3;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.informacoesPessoais_div_span{
    font-weight: 600;
    font-size: 1.6rem;
}

.informacoesPessoais_div_img{
    cursor: pointer;
    background-color: #e4e2e28d;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: 1s;
}
.informacoesPessoais_div_btn{
    cursor: pointer;
    background-color: #e4e2e28d;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    color: #000;
    border: none;
}
.divAside_Informacoes{
    margin: 1rem 8rem 0 0;
    padding: 2rem;
    border: 0.13rem solid #ecebebe0;
    border-radius: 2rem;
    max-width:19rem;
}
.divAside_Informacoes_div{
    display: flex;
    justify-content: space-between;
}
.divAside_Informacoes_span{
    font-weight: 600;
    font-size: 1.2rem;
}
.divAside_avaliacoes{
    background-color: #EEEEEF;
    padding: 1.3rem 1rem;
    border-radius: 1rem;
    display: flex;
    gap: 0.5rem;
}
.divAside_Informacoes_contatos{
    display: flex;
    border: 1px solid #ecebebe0;
    padding: 0.8rem;
    border-radius: 1rem;
    gap: 1rem;
    margin-top: 1rem;
}
.Informacoes_contatos_avatar{
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
}
.Informacoes_contatos_span{
    font-weight: 600;
}