.divH1 {
    font-weight: 700;
    text-decoration: underline;
    font-size: 2.5rem;
    margin: 3rem 10rem 1rem;
}

.divContainer{
    border: 2px solid #ff0000;
    display: flex;

}
.divMain{
    border: 2px solid #209500;
    width: 50%;
}
.divAside{
    border: 2px solid #1500ff;
    width: 50%;
}