.containerDropDown {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  gap: 1px;
 
  border: 18px solid #E6E6E6;
  border-radius: 45px; /* <<< Cantos mais suaves */
  background-color: white;
  width: fit-content;
  margin: 0 auto;
}



