.headerSimples {
   width: 100vw;
}

.linkHome {
    color: white;
    font-weight: 100;
    font-size: 1.3rem;
}

.topHeaderSimples {
    display: flex;
    justify-content: left;
    gap: 4rem;
    align-items: center;
}