footer{
    border-top: 1px solid #92929250;
    margin: 26rem 2rem 0;
    display: flex;
    justify-content: center;

}

.footer-container {
    display: flex;
    justify-content: center;
    max-width: 80rem;
    gap: 8rem;

}

.footer-column {
    display: flex;
    flex-direction: column;    
}
.footer-column h2{
    margin: 1rem 0  ;
    font-weight: 800;
    font-size: 1.7rem;
}

.footer-column_ul {
    list-style: none;
    padding: 0;
    
}

.footer-column_ul li a {
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: 800;
    
    
}
.social_ul{
    display: flex;
    gap: 15px;
    justify-content: center;
       
}
.social_ul img{
    width: 20px;
       
}

.containerHome_footer_span {
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: white;
}
